{% extends 'dashboard/main.html'%}
{% load crispy_forms_tags %}
{% block content %}
{% include 'dashboard/sidebar.html'%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4"> Update Mode</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active"> Update Mode</li>
            </ol>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fa-solid fa-plus"></i>
                            Update Mode
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                {{form | crispy}}
                                {% csrf_token %}
                                <br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </main>
    {% endblock %}